<footer class="bg-color">
	<div class="container">
		<div class="upper-footer clearfix">
			<div class="widgets">
				<div class="col-md-3">
					<div class="about-widget"> 
						<p>Alternatively if you have a specific service or question in mind please don’t hesitate to contact us to discuss this using the contact details on the Contact Us page of the site.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="widget-heading mrgb4x">
						<h4>OUR SERVICELIST</h4>
					</div>
					<ul class="widget-area service-list">
						<li><a href="#"><i class="fa fa-play-circle"></i><span>Hotel Stars Checking / Validation</span></a></li>
						<li><a href="#"><i class="fa fa-play-circle"></i><span>Vacation for wedding or holiday</span></a></li>
						<li><a href="#"><i class="fa fa-play-circle"></i><span>Rent a living room or a house</span></a></li>
						<li><a href="#"><i class="fa fa-play-circle"></i><span>Appartements for sale</span></a></li>
						<li><a href="#"><i class="fa fa-play-circle"></i><span>Buy your dream house and more</span></a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<div class="widget-heading mrgb4x ">
						<h4>TWITTER FEED</h4>
					</div>
					<ul class="widget-area tweet">
						<li><a href="#"><i class="fa fa-twitter"></i><span>@envato  Creating a new theme for the real estate section</span> <span class="active-time"># 2 hours ago</span></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i><span>@envato  We create awesome PSD templates for multi-pupose</span> <span class="active-time"># 8 hours ago</span></a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<div class="widget-heading mrgb4x ">
						<h4>GET IN TOUCH WITH US</h4>
					</div>
					<ul class="widget-area contact clearfix">
						<li> <a href="#"><i class="icon-location10"></i><span>1700 Pennsylvania Ave NW, Washington DC</span></a></li>
					
						<li> <a href="#"><i class="fa fa-phone"></i><span>+55 555 555 5555</span></a></li>
						<li> <a href="#"><i class="icon-email4"></i><span>slimspace@email.com</span></a></li>
					</ul>
					<ul class="footer-social-media">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-google"></i></a></li>
						<li><a href="#"><i class="icon-pinterest-p"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="lower-footer">
		<p>Made with<span><i class="fa fa-heart-o"></i></span>at BizHack DC </a> | Copyright Slimspace 2015</p>
	</div>
</footer>