<div id="mainslider">
	<div class="slider">
		<div class="fullscreen-container">
			<div class="fullscreenbanner">
				<ul>
					<li data-transition="slide" data-slotamount="10"> <img class="img-responsive" alt="" src="http://res.cloudinary.com/dratccssz/image/upload/v1439095525/building-1489149_o81qfc.jpg"/>
						<div class="caption sfb" 
								data-x="center" 
								data-y="160" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo">
							<div class="slider-text clearfix">
								<div class="text-box">
									<h2>Luxurious Hotel Suite</h2>
									<p>Whether you’re looking to sell or let your home or want to buy or rent a</p>
									<p> home, we really are the people for you to come to.</p>
								</div>
								<div class="slider-button">
                  <% if user_signed_in? %>
                  <div class="view-btn"> <%= link_to "VIEW SPACES", spaces_path %></div>
                  <% else %>
                  <div class="signup-btn"><%= link_to "SIGN UP NOW", new_user_registration_path %> </div>
                  <% end %>
								</div>
							</div>
						</div>
					</li>
					<li data-transition="slide" data-slotamount="10"> <img class="img-responsive" alt="" src="http://res.cloudinary.com/dratccssz/image/upload/v1439095525/wireless-home-office-1240115_mxfeku.jpg"/>
						<div class="caption sfb" 
								data-x="center" 
								data-y="center" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo">
							<div class="slider-text clearfix">
								<div class="text-box">
									<h2>Luxurious Hotel Suite</h2>
									<p>Whether you’re looking to sell or let your home or want to buy or rent a</p>
									<p> home, we really are the people for you to come to.</p>
								</div>
								<div class="slider-button">
									<div class="view-btn"> <a href="">VIEW DETAILS</a> </div>
									<div class="signup-btn"> <a href="#">SIGNUP NOW</a> </div>
								</div>
							</div>
						</div>
					</li>
					<li data-transition="slide" data-slotamount="10"> <img class="img-responsive" alt="" src="http://res.cloudinary.com/dratccssz/image/upload/v1439095523/business-building-1484729_q3hu4x.jpg"/>
						<div class="caption sfb" 
								data-x="center" 
								data-y="center" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo">
							<div class="slider-text clearfix">
								<div class="text-box">
									<h2>Luxurious Hotel Suite</h2>
									<p>Whether you’re looking to sell or let your home or want to buy or rent a</p>
									<p> home, we really are the people for you to come to.</p>
								</div>
								<div class="slider-button">
									<div class="view-btn"> <a href="">VIEW DETAILS</a> </div>
									<div class="signup-btn"> <a href="#">SIGNUP NOW</a> </div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>